__pycache__/
__pycache__
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
test-data/

.venv/
venv/
env/
.nenv/
nenv/

.env
.env.prod

*.log

.DS_Store
Thumbs.db

.vscode/
!.vscode/settings.json
!.vscode/extensions.json

.coverage
htmlcov/
.pytest_cache/

*.pem
*.key

credentials.json
token.json

# Testing & static analysis
tests/
pytest.ini
requirements-test.txt
ruff.toml
ruff-report.json

.ipynb_checkpoints/
_dep_*
_dev_*
/dev.ipynb
/checkpoint.txt
/read_email_checkpoint.txt